{% extends 'mailings/base.html' %}

{% block content %}

    <div class="container">
        {% if perms.mailings.add_message %}
            <div class="row">
                <div class="col-3">
                    <a href="{% url 'mailings:message_create' %}" class="btn btn-primary">Создать сообщение</a>
                </div>
            </div>
        {% endif %}
        <div class="row my-5">
            {% for object in object_list %}
                <div class="card mb-4 mx-2" style="width: 20rem;">
                    <div class="card-header">Сообщение №{{ object.pk }}</div>
                    <div class="card-body">
                        <h5 class="card-title">Тема: {{ object.subject }}</h5>
                        {% if request.user.is_staff %}
                            <p class="text-muted">Создал: {{ object.user }}</p>
                        {% endif %}
                    </div>
                    {% if perms.mailings.view_message %}
                        <div class="card-footer">
                            <a class="btn btn-secondary"
                               href="{% url 'mailings:message_detail' object.pk %}">Выбрать</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}